*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }

header  nav{
    background-color: #FFFFFF;
    padding: 15px 120px 15px 120px;
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.menu a {
    text-decoration: none;
    color: #000000;
}

.button{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 15px 5px;
    cursor: pointer;

}

.button1{
    background-color: none;
    background: transparent;
    border-color:#FFFFFF;
    border-radius: 4px;
    padding: 17px 16px 17px 46px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 15px 5px;

}
.hero-button .button{
    padding: 17px 46px 17px 16px;
    border: none;
}


.hero-container .active{
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 25px;
    padding: 8px 12px 8px 48px;
    font-size: 16px;
    margin-bottom: 16px;
    
}
    
.hero-container{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    height: 674px;  
}

.hero-content{
    padding: 116px 120px 180px 120px;
    margin-bottom: 16px;
    
}

.hero-container .hero-heading h1{
    padding: 17px;
    font-size: 60px;
    color: #FFFFFF;
}
.hero-container .hero-heading span{
    font-size: 64px;
    color: #30B868;
}

.hero-container p{
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;
}
.hero-container .hero-button{
    margin-top: 15px;
}


#notes{
    padding: 120px;
    background-color: #FFFFFF;
}

.notes-container{
    margin: 0 auto;
    text-align: center;
}
.notes-container h2{
    font-size: 48px;
}

.notes-container p {
        font-size: 16px;
        color: #627382;
        margin-bottom: 44px;
}

.notes-card{
    display: flex;
    gap: 24px;
    
}

.card{
    padding: 30px 20px 0px 20px;
    border: 2px solid rgb(212, 212, 212);
    text-align: center;
    border-radius: 8px;  
    margin: 0 auto;
}

.card:hover{
    border-color: chocolate;
}

.card h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    color: #627382;
    line-height: 22px;
    
}

.card .icon{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 8px;
}

.card img{
    width: 32px;
    height: 32px;
}

#knowledge{
    padding: 120px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.knowledge-container{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px;
}

.knowledge-content{
    max-width: 700px;
}

.knowledge-content p{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    line-height: 2opx;
}
h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.knowledge-content .description{
      font-size: 16px;
      color: #627382;
      line-height: 20px;
      margin-bottom: 40px;
}
.knowledge-content li{
    font-size: 16px;
    color: #001931;
    display: flex;
    gap: 6px;
    margin-bottom: 16px;

}
.knowledge-content li img{
    width: 20px;
    height: 20px;
}
.knowledge-content ul{
    list-style: none;
    
}


#challenge{
       width: 1600px;
       height: 506px;
       padding: 2px 100px 100px 100px;
       display: flex;
       justify-content: center;
}

.challenge-cantainer{
    width: 1380px;
    height: 385px;
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
   }

.challenge-cantainer h2{
    font-size: 40px;
    margin-bottom: 16px;
}

.challenge-cantainer p {
    font-size: 16px;
    color: #627382;
}

.challenge-cantainer button{
    gap: 24px;
}